.App {
  text-align: center;
  background-image: url("https://t3.ftcdn.net/jpg/03/23/12/42/360_F_323124237_SfGqpttZqU2mrMm61VPSWA2tKvc95l9O.jpg");
}

.login-container,
.quiz-container {
  background-color: #96ab0e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-left: 500px;
}

.login-container button {
  background-color: #e91e63;
  border: none;
  color: white;
}

.quiz-container .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quiz-container .question-section {
  background-color: #0cd2d2;
  padding: 15px;
  border-radius: 8px;
}

.quiz-container .options {
  margin-top: 20px;
}

.quiz-container .options button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: rgb(3, 94, 63);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-container .options button:hover {
  background-color: #05119b;
}

.result h2 {
  color: #ffeb3b;
}
